[PANEL1]
dispositivo1 = NO USAR
dispositivo2 = #0ah
dispositivo3 = #03
activo = ACTIVADO

[PANEL2]
dispositivo1 = #04
dispositivo2 = #05
dispositivo3 = #06
activo = ACTIVADO

[PANEL3]
dispositivo1 = #07
dispositivo2 = #08
dispositivo3 = #09
activo = ACTIVADO

[PANEL4]
dispositivo1 = #0A
dispositivo2 = #0B
dispositivo3 = #0C
activo = DESACTIVADO

[PANEL5]
dispositivo1 = #01
dispositivo2 = #02
dispositivo3 = #03
activo = DESACTIVADO

[PANEL6]
dispositivo1 = #01
dispositivo2 = #02
dispositivo3 = #03
activo = DESACTIVADO

[PANEL7]
dispositivo1 = #01
dispositivo2 = #02
dispositivo3 = #03
activo = DESACTIVADO

[PANEL8]
dispositivo1 = #01
dispositivo2 = #02
dispositivo3 = #03
activo = DESACTIVADO

